/*--
	Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 1.9em;
    color: #777;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

.navbar-nav {
    float: right;
    margin: 0;
}

.navbar-default {
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav_top_fx_w3layouts_agileits {
    margin: 0 auto;
    width: 88%;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
    color: #000;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-default .navbar-brand {
    color: #272c2f;
}

.logo_wthree_agile {
    margin-top: 1em;
}

.logo_wthree_agile h1 a {
    font-size: 0.9em;
    color: #272c2f;
}

.logo_wthree_agile .fa-w-18 {
    margin: 0;
    font-size: 1em;
    color: #ff4c00;
}

.navbar-nav>li>a {
    padding: 35px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    font-weight: 600;
}

.navbar-default .navbar-nav>li>a {
    color: #27292b;
}

.dropdown-menu>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #807d7d;
    letter-spacing: 1px;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #0087b4;
}

a.request {
    border: 1px solid #ddd;
    padding: 0.6em 1.2em;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #ff4c00;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #272c2f;
    background-color: none;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #ff4c00;
}

span.desc {
    font-size: 0.38em;
    display: block;
    font-weight: 300;
    color: #818182;
    letter-spacing: 1px;
    text-transform: initial;
}

/*-- header --*/

/*--// header --*/

/*-- banner --*/

.carousel .item {
    background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/1.jpg) no-repeat;
    background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/1.jpg) no-repeat;
    background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/1.jpg) no-repeat;
    background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/1.jpg) no-repeat;
    background-size: cover;
}

.carousel .item.item2 {
    background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/2.jpg) no-repeat;
    background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/2.jpg) no-repeat;
    background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/2.jpg) no-repeat;
    background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/2.jpg) no-repeat;
    background-size: cover;
}

.carousel .item.item3 {
    background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/3.jpg) no-repeat;
    background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/3.jpg) no-repeat;
    background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/3.jpg) no-repeat;
    background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/3.jpg) no-repeat;
    background-size: cover;
}

.carousel .item.item4 {
    background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/4.jpg) no-repeat;
    background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/4.jpg) no-repeat;
    background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/4.jpg) no-repeat;
    background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/4.jpg) no-repeat;
    background-size: cover;
}

.carousel .item.item5 {
    background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/5.jpg) no-repeat;
    background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/5.jpg) no-repeat;
    background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/5.jpg) no-repeat;
    background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/5.jpg) no-repeat;
    background-size: cover;
}

.carousel-caption h2,
.carousel-caption h3 {
    font-size: 5.2em;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.4em;
}

.carousel-caption h2 span,
.carousel-caption h3 span {
    font-weight: 600;
}

.carousel-caption a {
    color: #fff;
    letter-spacing: 1px;
    padding: 15px 15px;
    background: none;
    font-size: 0.9em;
    border-radius: 0;
    border: 1px solid #fff;
    background: #ff4c00;
}

.carousel-caption a:hover {
    border: solid 2px #0f9d58;
    background-color: #0f9d58;
}

.codes {
    padding: 5em 0;
    background: #fff;
}

.codes.agileitsbg2 {
    background: #E74C3C;
    background-image: -webkit-linear-gradient(#ff9d2f, #ff6126);
    background-image: -moz-linear-gradient(#ff9d2f, #ff6126);
    background-image: -ms-linear-gradient(#ff9d2f, #ff6126);
    background-image: linear-gradient(#ff9d2f, #ff6126);
    padding-bottom: 10em;
}

.codes.agileitsbg3 {
    background: #3498DB;
    padding-bottom: 10em;
}

.codes.agileitsbg4 {
    background: #2ECC71;
    padding-bottom: 10em;
}

.carousel.slide.grid_3.grid_4 {
    border-top: 10px solid #3ACFD5;
    border-bottom: 10px solid #3a4ed5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    -webkit-background-size: 10px 100%;
    -moz-background-size: 10px 100%;
    background-size: 10px 100%;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    background-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    background-image: -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
}

.carousel-indicators {
    bottom: 17%;
    left: 18%;
}

.carousel-caption {
    position: inherit;
    min-height: 750px !important;
    padding-top: 14em;
    text-align: left;
    width: 59%;
}

.bnr-button {
    margin-top: 2em;
}

.carousel-control {
    line-height: 42em;
}

.carousel-indicators li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 3px;
    border: 2px solid #fff;
}

.carousel-indicators .active {
    width: 16px;
    height: 16px;
    margin: 0 3px;
    border: 2px solid #0f9d58;
    background: #0f9d58;
}

/* Show it is fixed to the top */

.top-buttons {
    margin: 2em auto 0;
    text-align: center;
    width: 24%;
}

.bnr-button a {
    text-decoration: none;
    padding: 1.2em 3em;
    text-align: center;
    border: solid 2px #ff4c00;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.9em;
    display: inline-block;
}

.bnr-button a:hover {
    border: solid 2px #0f9d58;
    background-color: #0f9d58;
}

a.two.scroll {
    margin-left: 10px;
}

/*-- //banner --*/

/*-- /banner_bottom --*/

.banner_bottom_left h4 {
    font-size: 1.5em;
    color: #3c3c3c;
    letter-spacing: 1px;
    position: relative;
    font-weight: 600;
    line-height: 1.6em;
    margin-bottom: 1em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

/*--slider--*/

#slider2,
#slider3 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255, 255, 255, .1);
    color: #fff;
    font-weight: bold;
}

.events {
    list-style: none;
}

.callbacks_container {
    position: relative;
    float: left;
    width: 100%;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.callbacks li {
    position: absolute;
    width: 100%;
}

.callbacks img {
    position: relative;
    z-index: 1;
    height: auto;
    border: 0;
}

.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    top: 10%;
    text-align: center;
}

/****
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top:55%;
    left: 40px;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 34px;
    width: 34px;
    background:#222 url(../images/left.png) no-repeat 0px 0px;
}
.callbacks_nav.next {
    left: auto;
    background:#222 url(../images/right.png) no-repeat 0px 0px;
    right: -62px;
}
.callbacks_nav.prev {
    left: auto;
    background:#222 url(../images/left.png) no-repeat 0px 0px;
    left: -58px;
}
/****/

#slider3-pager a {
    display: inline-block;
}

#slider3-pager span {
    float: left;
}

#slider3-pager span {
    width: 100px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border-radius: 30em;
    opacity: 0.6;
}

#slider3-pager .rslides_here a {
    background: #FFF;
    border-radius: 30em;
    opacity: 1;
}

#slider3-pager a {
    padding: 0;
}

#slider3-pager li {
    display: inline-block;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    height: auto;
    border: 0;
}

.callbacks_tabs {
    list-style: none;
    position: absolute;
    bottom: 42%;
    right: 0%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 99;
}

.slider-top span {
    font-weight: 600;
}

.callbacks_tabs li {
    display: inline-block;
    margin: 0px 3px;
}

/*----*/

.callbacks_tabs a {
    visibility: hidden;
}

.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 16px;
    width: 16px;
    display: inline-block;
    background: #475258;
    border-radius: 50%;
}

.callbacks_here a:after {
    background: #ff4c00;
}

/*-- //slider --*/

/*-- /donate--*/

.donate-inner {
    margin: 0 auto;
    width: 80%;
}

.donate-log {
    background-color: #ecf0f1;
    position: relative;
}

.donate-inner h4 {
    color: #272c2f;
    font-size: 2em;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: .7em;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

.donate-inner h5 {
    color: #272c2f;
    font-size: 1.4em;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 1em;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
    display: none;
}

.donate-f-login {
    position: absolute;
    right: 7%;
    top: -42%;
    z-index: 9;
    width: 24%;
}

.donate-log-in {
    background: #fff;
    padding: 3em;
}

.donate-log-in.book-form input[type="text"],
.donate-log-in.book-form input[type="email"],
.donate-log-in.book-form input[type="password"],
.donate-log-in.book-form input[type="number"] {
    width: 99%;
    color: #555;
    outline: none;
    font-size: 0.9em;
    padding: .6em 1em;
    border: 1px solid #e6eae8;
    -webkit-appearance: none;
    margin-bottom: 0.7em;
    letter-spacing: 1px;
    background: #e4eae7;
}

/*-- //donate--*/

/*-- /progress --*/

.tooltip {
    position: relative;
    float: right;
    z-index: 9;
}

.tooltip>.tooltip-inner {
    background-color: #0f9d58;
    padding: 18px 14px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}

.tooltip.top {
    padding: 5px 0;
}

.popOver+.tooltip>.tooltip-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #0f9d58;
}

section {
    margin: 100px auto;
    height: 1000px;
}

span.progressText {
    color: #686a6b;
    letter-spacing: 1px;
    line-height: 40px;
}

.progress {
    border-radius: 0;
    overflow: visible;
}

.progress-bar {
    background: rgb(43, 57, 69);
    -webkit-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
}

.barWrapper {
    margin-top: 2em;
}

.progress {
    height: 10px;
}

/*-- //progress --*/

.news-main {
    margin-top: 5em;
}

.banner_bottom_left p {
    margin-bottom: 3em;
}

.banner_bottom {
    padding: 7em 0;
}

.news-left {
    padding-left: 0;
}

.b_left {
    padding: 0;
}

.b_right {
    padding: 0;
}

.news-right h4 {
    color: #333;
    font-size: 2.5em;
    font-weight: 500;
}

p.sub_p {
    margin: 1.2em 0;
}

.ab_info {
    margin-bottom: 2em;
}

.ab_info h4 {
    margin-top: 1em;
    font-size: 1.4em;
}

.banner_bottom_left {
    margin-top: 4em;
}

.banner_bottom_grid_right {
    text-align: left;
}

.dodecagon.b1 {
    width: 6em;
    height: 8em;
    text-align: center;
}

.dodecagon-bg.b1,
.octagon-bg.b1 {
    background: #0087b4;
}

.banner_bottom_grid_left_grid .fa-w-16 {
    font-size: 1.8em;
    color: #fff;
    margin-top: 48px;
    text-align: center;
}

.help_full {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.banner_bottom_in {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.banner_bottom_in img {
    background-color: #ebeeef;
    padding: 0.5em;
}

.banner_bottom_in p {
    margin: 2em 0;
}

.ab_button {
    margin-top: 2em;
}

.ab_button a {
    padding: 0.8em 2em;
    color: #222;
    font-size: 0.8em;
    letter-spacing: 1px;
    background: none;
    border: 2px solid #0087b4;
    border-radius: 0;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.ab_button a:hover {
    background: #0087b4;
    border: 2px solid #0087b4;
    color: #fff;
}

.banner_bottom_in h3 {
    line-height: 1.3em;
}

.banner_bottom_in iframe {
    width: 600px;
    min-height: 333px;
    border: 6px solid #ddd;
    margin-top: 3em;
}

.news-main {
    margin-top: 4em;
    border-top: 1px solid #ddd;
    padding-top: 4em;
}

.banner_bottom_grid_left_grid span {
    font-size: 2em;
    color: #76daff;
    line-height: 62px;
}

.banner_bottom_grid_right h4,
.last-img-info-text h4 {
    font-size: 1.2em;
    margin-bottom: .7em;
    font-weight: 600;
    color: #222222;
    letter-spacing: 1px;
}

.banner_bottom_grid_right p {
    line-height: 1.9em;
}

.ser-first-grid {
    position: relative;
}

.ser-first-grid .fa-w-16,
.fa-w-18,
.fa-paper-plane,
.fa-edit {
    font-size: 2em;
    color: #fff;
    margin-top: 40px;
}

.ser-first {
    margin-top: 5em;
}

/** Dodecagon Styles **/

.dodecagon {
    display: inline-block;
    width: 6em;
    height: 7em;
    position: relative;
    overflow: hidden;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}

.dodecagon-in {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    -webkit-transform: rotate(-120deg);
    -moz-transform: rotate(-120deg);
    -ms-transform: rotate(-120deg);
    -o-transform: rotate(-120deg);
    transform: rotate(-120deg);
}

.dodecagon-bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}

.dodecagon-bg,
.octagon-bg {
    background-color: #0f9d58;
}

/*-- /works--*/

/*-- /price--*/

.price-sec {
    background: #E1E1E1;
    padding: 7em 0;
}

.price-grid-main {
    margin-top: 6em;
}

.prices {
    background: #161617;
    padding: 2em 1em 1em 1em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    position: relative;
}

.price-info:hover .prices {
    background: #161617;
}

.prices-h {
    padding: 0em 0 1.2em 0;
    border-bottom: 1px solid #0f9d58;
}

.prices-top {
    position: absolute;
    top: -75px;
    left: 71px;
}

.prices-bottom {
    text-align: center;
    padding: 2em;
}

.prices-top h3 {
    font-size: 1.8em;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 4.5em;
    text-shadow: 0 2px 12px rgb(6, 68, 38);
}

.prices-bottom ul li {
    font-size: .95em;
    color: #89898a;
    padding: 1em 0;
    list-style: none;
    border-bottom: 1px solid #282829;
}

.prices-bottom ul li:nth-child(last) {
    border-bottom: none;
}

.prices-bottom h4 {
    font-size: 1.6em;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
    letter-spacing: 1px;
    font-weight: 700;
}

.price-info {
    text-align: center;
    width: 33.3333%;
    float: left;
    padding: 0;
}

a.button {
    font-size: .95em;
    text-transform: uppercase;
    padding: 1em 1em;
    background: #0f9d58;
    color: #fff;
    display: block;
    margin: 1.5em auto 0;
    font-weight: 600;
}

a.button {
    background: #0087b4;
}

.dodecagon-bg.s1,
.octagon-bg.s1 {
    background: #0f9d58;
}

.dodecagon.s1 {
    width: 6em;
    height: 8em;
}

li.dash {
    border-bottom: none !important;
}

.prices-bottom ul {
    margin-top: 1em;
}

.price-info:hover .prices {
    background: #313131;
}

.prices.second {
    background: #313131;
    border-left: 1px solid #3e3d3d;
    border-right: 1px solid #3e3d3d;
}

.last-img-info-text {
    margin-top: 7em;
}

/*--/model--*/

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0;
}

.modal-header {
    min-height: 16.42857143px;
    padding: 2em;
    border-bottom: 0px solid #e5e5e5;
}

.modal-header h4 {
    font-size: 1.6em;
    color: #475258;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
}

.modal-dialog {
    width: 600px;
    margin: 96px auto;
}

.book-form input[type="text"],
.book-form input[type="email"],
.book-form input[type="password"],
.book-form input[type="number"] {
    width: 99%;
    color: #555;
    outline: none;
    font-size: 0.9em;
    padding: .6em 1em;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    margin-bottom: 1.5em;
    line-height: 1.8em;
    letter-spacing: 1px;
}

.modal-header.book-form form {
    margin-top: 1.5em;
}

.book-form input[type=submit] {
    color: #FFFFFF;
    padding: .8em 1em;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid #0f9d58;
    outline: none;
    background: #0f9d58;
    width: 100%;
    letter-spacing: 2px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.book-form input[type=submit]:hover {
    background: #272c2f;
    border: 2px solid #272c2f;
    color: #fff;
}

.check-box input[type="checkbox"]+label {
    position: relative;
    padding-left: 2em;
    border: none;
    outline: none;
    font-size: 0.9em;
    color: #797373;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 2px;
}

.check-box {
    margin-bottom: 1.5em;
}

.check-box input[type="checkbox"] {
    display: none;
}

.check-box input[type="checkbox"]:checked+label span:first-child:before,
.check-box.two input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url(../images/tick.png)no-repeat;
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}

.check-box input[type="checkbox"]+label span:first-child {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #bfc3c3;
    position: absolute;
    left: 0;
    top: 1px;
}

/*--//model--*/

/*-- //price--*/

/*-- /graphers--*/

.dodecagon.t1 {
    display: inline-block;
    position: relative;
    overflow: hidden;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}

.dodecagon-in.t1 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    -webkit-transform: rotate(-120deg);
    -moz-transform: rotate(-120deg);
    -ms-transform: rotate(-120deg);
    -o-transform: rotate(-120deg);
    transform: rotate(-120deg);
}

.dodecagon-bg.t1 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}

.dodecagon-bg.t1,
.octagon-bg.t1,
.dodecagon-bg.t2,
.octagon-bg.t2,
.dodecagon-bg.t3,
.octagon-bg.t3,
.dodecagon-bg.t4,
.octagon-bg.t4 {
    background: url(../images/p1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.dodecagon-bg.t2,
.octagon-bg.t2 {
    background: url(../images/p2.jpg) no-repeat 0px 0px;
}

.dodecagon-bg.t3,
.octagon-bg.t3 {
    background: url(../images/p3.jpg) no-repeat 0px 0px;
}

.dodecagon-bg.t4,
.octagon-bg.t4 {
    background: url(../images/p4.jpg) no-repeat 0px 0px;
}

.dodecagon.t2,
.dodecagon.t3,
.dodecagon.t4,
.dodecagon.t1 {
    width: 14em;
    height: 16em;
}

.dodecagon-bg.l1,
.octagon-bg.l1,
.dodecagon-bg.l2,
.octagon-bg.l2 {
    background: url(../images/last.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.dodecagon-bg.l2,
.octagon-bg.l2 {
    background: url(../images/last1.jpg) no-repeat 0px 0px;
}

.dodecagon.l1,
.dodecagon.l2 {
    width: 15em;
    height: 18em;
}

.last-img-info {
    text-align: center;
}

.photo-grid h3 {
    margin: 26px 0 10px 0;
    color: #475258;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 1px;
}

.photo-grid.text-center p {
    color: #99a3a9;
    font-weight: 600;
    font-size: 0.9em;
    font-style: italic;
}

.team_icons ul {
    margin-top: 1em;
}

.team_icons ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

/*-- //graphers--*/

.inner_sec_info_w3layouts {
    margin-top: 4em;
}

.banner_inner_con {
    background: url(../images/foto/2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 300px;
}

.services-breadcrumb {
    padding: 1em 1em;
    background: #f5f5f5;
    text-align: center;
}

ul.short li {
    text-align: left;
    display: inline-block;
    letter-spacing: 1px;
    color: #8c8e90;
    font-size: 0.85em;
}

ul.short li a {
    color: #76daff;
    text-decoration: none;
}

.services-breadcrumb ul li span {
    padding: 0 1.5em;
}

/*-- //works--*/

h3.tittle_w3_agileinfo {
    color: #272c2f;
    font-size: 3em;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: .7em;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
    text-align: center;
}

h3.tittle_w3_agileinfo.cen {
    color: #fff;
    text-align: center;
}

.ser-first-grid span {
    font-size: 32px;
}

.ser-first-grid p {
    margin: 0;
    color: #b9c4ca;
    font-size: 0.9em;
    line-height: 1.9em;
}

.ser-first-grid h3 {
    margin: 26px 0 10px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.4em;
    letter-spacing: 1px;
    line-height: 1.4em;
}

.works {
    padding: 7em 0;
    background: #475258;
}

/*-- /events-coming --*/

.events-coming {
    background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/1.jpg) no-repeat;
    background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/1.jpg) no-repeat;
    background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/1.jpg) no-repeat;
    background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/foto/1.jpg) no-repeat;
    background-size: cover;
    padding: 6em 0;
}

.content1 {
    padding: 15px;
    margin: 2% auto;
}

.content1 img {
    display: block;
    margin: auto;
}

.content2 {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

/* ---------- TIMER ---------- */

.timer_wrap {
    width: 100%;
    margin: 0 auto;
}

#counter {
    height: 130px;
    font-size: 60px;
    color: #FFF;
    overflow: hidden;
    margin: 2% auto;
}

.timer {
    border-top: 2px ridge #5F5F5F;
    border-bottom: 2px ridge #5F5F5F;
}

.timer h4 {
    font-size: 14px;
    color: #E5E5E5;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top: 20px;
}

.countDays,
.countHours,
.countMinutes,
.countSeconds {
    display: inline-block;
    width: 170px;
    height: 130px;
    margin-left: 10px;
}

.points {
    float: left;
    width: 70px;
    margin: 0;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    line-height: 138px;
    text-shadow: none;
    color: #FFF;
    display: none;
}

.boxName {
    float: left;
    width: 100%;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    padding: 2px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}

.countDays span.points {
    font-size: 1.1em;
}

/* -- /TIMER -- */

.content3 {
    text-align: center;
    margin: 5% auto 2%;
}

.content3 p {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 300;
}

.content3 ul li {
    display: inline-block;
}

/*-- //events-coming --*/

/*-- /testimonials --*/

.carousel.slide.two .item {
    background: none !important;
}

.tesimonials {
    padding: 7em 0;
    background: #0087b4;
    text-align: center;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}

/* Control buttons  */

#quote-carousel .carousel-control {
    background: none;
    color: #fff;
    font-size: 2em;
    text-shadow: none;
    margin-top: 0px;
    line-height: 145px;
}

ol.carousel-indicators.two {
    display: block;
}

/* Previous button  */

#quote-carousel .carousel-control.left {
    left: -116px;
}

/* Next button  */

#quote-carousel .carousel-control.right {
    right: -116px !important;
}

/* Changes the position of the indicators */

#quote-carousel .carousel-indicators {
    left: 37%;
    top: auto;
    bottom: -26px;
    margin-right: -19px;
}

/* Changes the color of the indicators */

#quote-carousel .carousel-indicators li {
    background: #fff;
    width: 12px;
    height: 12px;
    margin: 0 2px;
}

#quote-carousel .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0 2px;
    background: #ee4f4f;
    border: 1px solid #ee4f4f;
}

#quote-carousel img {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}

/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-top: 14px;
}

.test_img_info p {
    color: #f7f5f5;
    margin-bottom: 1em;
    font-size: 0.9em;
}

.test_img_info h6 {
    color: #1c2021;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 2em;
    letter-spacing: 1px;
}

.text-center.test_img {
    margin-right: 1em;
}

.test_img .fa-w-16 {
    color: #087d7d;
    font-size: 2em;
}

.test_img_info {
    text-align: left;
    float: right;
    width: 72%;
}

.dodecagon-bg.c1,
.octagon-bg.c1,
.dodecagon-bg.c2,
.octagon-bg.c2,
.dodecagon-bg.c3,
.octagon-bg.c3 {
    background: url(../images/t1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.dodecagon-bg.c2,
.octagon-bg.c2 {
    background: url(../images/t2.jpg) no-repeat 0px 0px;
}

.dodecagon-bg.c3,
.octagon-bg.c3 {
    background: url(../images/t3.jpg) no-repeat 0px 0px;
}

.dodecagon.c1,
.dodecagon.c2,
.dodecagon.c3 {
    width: 6em;
    height: 7em;
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
}

/* Small devices (tablets, up to 768px) */

@media (max-width: 768px) {
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

/*-- //testimonials --*/

/*--/newsletter--*/

.newsletter {
    padding: 3em 6em;
}

.newsright input[type="email"] {
    outline: none;
    width: 100%;
    padding: 15px 20px;
    color: #848484;
    font-size: 14px;
    border: 1px solid #b5bbbd;
    width: 74%;
    letter-spacing: 3px;
    background: none;
}

.newsright input[type="submit"] {
    border: none;
    padding: 16px 20px 16px;
    font-size: 15px;
    outline: none;
    text-transform: uppercase;
    margin: 0 0 0 -4px;
    font-weight: 600;
    letter-spacing: 1px;
    background: #ff4c00;
    color: #fff;
}

.newsright input[type="submit"]:hover {
    background: #080808;
    color: #ffffff;
}

.newsleft h3 {
    font-size: 24px;
    margin-top: 15px;
    color: #333;
    letter-spacing: 3px;
    font-weight: 700;
}

.blog_sec {
    padding-top: 7em;
}

/*--//newsletter--*/

.banner_bottom.proj {
    background: #f7f7f7;
}

/*-- footer --*/

.footer {
    padding: 6em 0;
    background: #2e3335;
}

.footer_inner_info_wthree_agileits {
    width: 70%;
    margin: 0 auto;
}

ul.social-nav.model-3d-0.footer-social.social.two {
    float: none;
}

.footer-left p {
    color: #737070;
    line-height: 2em;
    font-size: 14px;
    margin-top: 22px;
}

.sign-gd h4,
.sign-gd-two h4 {
    color: #fff;
    font-size: 1.4em;
    margin-bottom: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}

.sign-gd h4 span,
.sign-gd-two h4 span {
    font-weight: 300;
}

.sign-gd ul li,
.sign-gd-two ul li {
    color: #848484;
    line-height: 2em;
    font-size: 14px;
    list-style-type: none;
}

.sign-gd ul li a,
.sign-gd-two ul li a {
    color: #737070;
    letter-spacing: 1px;
}

.sign-gd ul li a:hover,
.sign-gd-two ul li a:hover {
    color: #ffffff;
}

.post-grid:nth-child(2) {
    margin: 1em 0;
}

.address-left i.fa.fa-phone,
.address-left i.fa.fa-envelope,
.address-left i.fa.fa-map-marker {
    color: #FFFFFF;
    font-size: 1em;
}

.address-right h6 {
    color: #ffffff;
    font-size: 1.1em;
    margin: 0;
    font-weight: 700;
    letter-spacing: 1px;
}

.address-right p {
    margin: 1em 0 0 0;
    font-size: .9em;
    color: #b2c3ce;
}

.address-right p a {
    color: #ffffff;
    text-decoration: none;
}

.address-right p a:hover {
    color: #b5b5b5;
}

.address-right p span {
    display: block;
    margin: .5em 0;
}

ul.social-nav.model-3d-0.footer-social.social.two {
    margin: 4em 0 1em 0;
    text-align: center;
}

.social-nav li {
    display: inline-block;
    margin: 0 6px;
}

.social-nav a {
    display: inline-block;
    float: none;
    width: 30px;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background: #000;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.model-3d-0 .front {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    color: #212121;
    font-size: 12px;
}

a.twitter .front {
    background: #00acee;
}

a.facebook .front {
    background: #3b5998;
}

a.instagram .front {
    background: #f77737;
}

a.pinterest .front {
    background: #bd081c;
}

.twitter .back,
.facebook .back,
.instagram .back,
.pinterest .back {
    background: #fff;
}

.model-3d-0 a:hover {
    opacity: 0.8;
}

.social .front i {
    color: #fff;
    font-size: 12px;
}

.social .back .fa-w-9,
.social .back .fa-w-16,
.social .back .fa-w-12,
.social .back .fa-w-14 {
    color: #000;
    font-size: 12px;
}

ul.social-nav .fa-w-9,
ul.social-nav .fa-w-16,
ul.social-nav .fa-w-12,
.social-nav .fa-w-14 {
    color: #fff;
}

/*--social icons--*/

.flickr-post ul li {
    display: inline-block;
    margin: 5px 5px;
}

.flickr-post ul li {
    display: inline-block;
    margin: 1% 1%;
    width: 28%;
}

p.copy-right {
    color: #babdbf;
    text-align: center;
}

p.copy-right a {
    color: #ffffff;
    text-decoration: none;
}

p.copy-right a:hover {
    color: #848484;
}

.dodecagon.f1 {
    width: 4em;
    height: 5em;
}

.address-grid {
    text-align: center;
}

.address-grid .fa-w-12,
.address-grid .fa-w-16 {
    font-size: 1.7em;
    color: #fff;
    margin-top: 27px;
}

.address-right {
    margin-top: 2em;
}

.contact_grid_right input[type="text"],
.contact_grid_right input[type="email"],
.contact_grid_right textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #777;
    background: #fff;
    width: 100%;
    letter-spacing: 1px;
    border: none;
    border: 1px solid #ffffff;
    margin-top: 1em;
}

.contact_grid_right input[type="text"]:nth-child(2),
.contact_grid_right input[type="email"] {
    margin: 1em 0 0;
}

.contact_grid_right textarea {
    min-height: 150px;
    margin: 1em 0em;
    resize: none;
}

.contact_grid_right input[type="submit"],
.contact_grid_right input[type="reset"] {
    outline: none;
    padding: 23px 0;
    font-size: 14px;
    color: #fff;
    background: #344754;
    width: 49.75%;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 700;
}

.contact_grid_right input[type="submit"],
.contact_grid_right input[type="reset"]:hover {
    background-color: #0f9d58;
}

.contact-left h4 {
    color: #444;
    font-size: 1em;
    margin-bottom: .5em;
    letter-spacing: 1px;
    font-weight: 700;
}

.contact-left p {
    font-size: 1em;
    letter-spacing: 1px;
}

.contact-text a {
    color: #888;
}

.contact-text a:hover {
    color: #fb383b;
}

.contact_grid_right h6,
.contact-left h6 {
    font-size: 1.2em;
    color: #9ca8b1;
    margin-bottom: 1.5em;
    letter-spacing: 1px;
    font-weight: 400;
}

.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.contact-map iframe {
    width: 100%;
    height: 400px;
}

/*-- //single --*/

p.read_para {
    margin: 2em 0;
    line-height: 2em;
}

p.read_para i {
    color: #0f9d58;
}

.banner-inner-page {
    background: url(../images/foto/2.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 300px;
}

.read_img img {
    width: 100%;
}

/*-- //single --*/

/*-- //footer --*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/top_move.png) no-repeat 0px 0px;
}

/*--responsive--*/

@media(max-width:1440px) {
    .price-sec,
    .works,
    .banner_bottom {
        padding: 6em 0;
    }
    h3.tittle_w3_agileinfo {
        font-size: 2.8em;
    }
    .carousel-caption {
        min-height: 700px !important;
        padding-top: 13em;
        width: 60%;
    }
    .donate-log-in {
        padding: 2em;
    }
    .carousel-indicators {
        bottom: 17%;
        left: 11%;
    }
}

@media(max-width:1366px) {
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 4.5em;
        letter-spacing: 1px;
    }
}

@media(max-width:1280px) {
    .price-sec,
    .works,
    .banner_bottom {
        padding: 5em 0;
    }
    .contact_grid_right input[type="submit"],
    .contact_grid_right input[type="reset"] {
        padding: 23px 0;
        width: 49.7%;
    }
    .footer_inner_info_wthree_agileits {
        width: 80%;
        margin: 0 auto;
    }
    .tesimonials {
        padding: 6em 0;
    }
    .newsletter {
        padding: 3em 3em;
    }
    .dodecagon {
        width: 5em;
        height: 6em;
    }
    .ser-first-grid .fa-w-16,
    .fa-w-18,
    .fa-paper-plane,
    .fa-edit {
        font-size: 1.8em;
        margin-top: 32px;
    }
    .ser-first-grid h3 {
        margin: 26px 0 10px 0;
        font-size: 1.2em;
    }
    .prices-bottom ul li {
        font-size: .9em;
        line-height: 1em;
        padding: 0.8em 0;
    }
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 10px 30px 10px;
    }
}

@media(max-width:1080px) {
    .carousel-caption {
        min-height: 630px !important;
        padding-top: 12em;
    }
    .carousel-control {
        line-height: 55em;
    }
    .ser-first {
        margin-top: 3em;
    }
    .prices-top {
        position: absolute;
        top: -75px;
        left: 52px;
    }
    .test_img_info {
        float: right;
        width: 70%;
    }
    h3.tittle_w3_agileinfo {
        font-size: 2.5em;
    }
    .newsletter {
        padding: 3em 2em;
    }
    #quote-carousel .carousel-indicators {
        left: 39%;
        top: auto;
        bottom: -26px;
        margin-right: -19px;
    }
    .footer {
        padding: 6em 0;
    }
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 4em;
        letter-spacing: 1px;
    }
    .dodecagon.t2,
    .dodecagon.t3,
    .dodecagon.t4,
    .dodecagon.t1 {
        width: 12em;
        height: 14em;
    }
    .prices-bottom {
        padding: 1em 0;
    }
    .dodecagon.l1,
    .dodecagon.l2 {
        width: 12em;
        height: 15em;
    }
    a.button {
        font-size: .95em;
        padding: 0.6em 1em;
    }
    .donate-f-login {
        position: absolute;
        right: 9%;
        top: -42%;
        z-index: 9;
        width: 28%;
    }
    .prices-top {
        position: absolute;
        top: -66px;
        left: 61px;
    }
    .dodecagon.b1 {
        width: 5em;
        height: 7em;
    }
    .banner_bottom_grid_left_grid .fa-w-16 {
        font-size: 1.8em;
        margin-top: 39px;
    }
    .inner_sec_info_w3layouts {
        margin-top: 3em;
    }
}

@media(max-width:1024px) {
    .col-md-offset-2 {
        margin-left: 0 !important;
    }
    .footer_inner_info_wthree_agileits {
        width: 90%;
        margin: 0 auto;
    }
    .price-sec,
    .works,
    .banner_bottom,
    .tesimonials,
    .footer,
    .tesimonials {
        padding: 4em 0;
    }
    .nav_top_fx_w3layouts_agileits {
        margin: 0 auto;
        width: 95%;
    }
    .banner-inner-page {
        min-height: 250px;
    }
    .read-img-info {
        margin-top: 1em;
    }
    .dodecagon.s1 {
        width: 5em;
        height: 7em;
    }
    .prices-top h3 {
        font-size: 1.6em;
        line-height: 4.5em;
    }
    .last-img-info-text,
    .price-grid-main {
        margin-top: 3em;
    }
    .footer {
        padding: 5em 0;
    }
}

@media(max-width:991px) {
    .callbacks_tabs {
        bottom: 58%;
        right: 0%;
    }
    .ser-first-grid:nth-child(2) {
        margin-top: 0em;
    }
    .ser-first-grid:nth-child(1) {
        margin-top: 0em;
    }
    .ser-first-grid:nth-child(3) {
        margin-top: 0em;
    }
    .ser-first-grid {
        position: relative;
        float: left;
        width: 50%;
        margin-bottom: 1em;
    }
    .photo-grid:nth-child(1),
    .photo-grid:nth-child(2),
    .photo-grid:nth-child(3),
    .photo-grid:nth-child(4) {
        margin-top: 1em;
    }
    .photo-grid.text-center {
        float: left;
        width: 49%;
    }
    .price-info:nth-child(1),
    .price-info:nth-child(2),
    .price-info:nth-child(3) {
        margin-top: 1em;
    }
    .price-info:nth-child(1),
    .price-info:nth-child(2),
    .price-info:nth-child(3) {
        margin-top: 2em;
        float: left;
        width: 33%;
    }
    .address-grid:nth-child(2) {
        margin: 1.7em 0;
    }
    .footer_inner_info_wthree_agileits {
        width: 93%;
        margin: 0 auto;
    }
    ul.social-nav.model-3d-0.footer-social.social.two {
        margin: 2em 0 1em 0;
        text-align: center;
    }
    .newsleft h3 {
        font-size: 20px;
        margin-top: 15px;
        letter-spacing: 2px;
    }
    .prices-top {
        position: absolute;
        top: -75px;
        left: 95px;
    }
    .prices-top h3 {
        font-size: 2em;
        line-height: 4em;
    }
    .carousel-caption {
        width: 73%;
    }
    .carousel-indicators {
        bottom: 17%;
        left: 17%;
    }
    .donate-info {
        float: left;
        width: 63%;
    }
    .donate-f-login {
        right: 9%;
        top: -42%;
        width: 32%;
    }
    .events-coming {
        padding: 4em 0;
    }
    .last-img-info {
        float: left;
        margin-top: 2em;
    }
    .price-grid-main {
        margin-top: 8em;
    }
    .dodecagon.s1 {
        width: 6em;
        height: 8em;
    }
    .prices-top {
        position: absolute;
        top: -83px;
        left: 64px;
    }
}

@media(max-width:900px) {
    .logo_wthree_agile h1 a {
        font-size: 0.8em;
    }
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 3em;
        letter-spacing: 1px;
    }
    .carousel-caption {
        min-height: 580px !important;
        padding-top: 14em;
    }
    .newsright input[type="email"] {
        padding: 15px 15px;
        font-size: 14px;
        width: 70%;
    }
    .carousel-caption {
        min-height: 555px !important;
        padding-top: 10em;
    }
    .carousel-control {
        line-height: 50em;
    }
    .bnr-button a {
        padding: 1em 2em;
    }
    .carousel-indicators {
        bottom: 20%;
        left: 15%;
    }
    .donate-inner h4 {
        font-size: 1.6em;
        letter-spacing: 1px;
    }
}

@media(max-width:800px) {
    .newsright input[type="email"] {
        width: 68%;
    }
    .carousel-caption {
        min-height: 530px !important;
        padding-top: 10em;
    }
    .carousel-indicators li {
        width: 14px;
        height: 14px;
        margin: 0 4px;
    }
    .carousel-indicators .active {
        width: 14px;
        height: 14px;
        margin: 0 4px;
    }
    .carousel-caption p {
        letter-spacing: 4px;
        font-size: 1em;
        margin: 1em 0 1em 0;
    }
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 2.8em;
        letter-spacing: 1px;
    }
    .p-mask h4 {
        font-size: 1.2em;
        text-decoration: none;
        line-height: 1.8em;
        letter-spacing: 1px;
    }
    .banner_bottom_left {
        text-align: center;
        margin-top: 2em;
    }
    .navbar-nav>li>a {
        padding: 35px 20px;
        letter-spacing: 1px;
        font-size: 0.75em;
    }
    .bnr-button {
        margin-top: 1.5em;
    }
    .carousel-indicators {
        bottom: 20%;
        left: 10%;
    }
    .donate-info {
        float: left;
        width: 59%;
    }
    .donate-log-in {
        padding: 1.5em;
    }
    .bnr-button a {
        padding: 0.8em 2em;
    }
    .donate-f-login {
        right: 9%;
        top: -42%;
        width: 37%;
    }
    .book-form input[type=submit] {
        padding: .6em 1em;
    }
}

@media(max-width:768px) {
    .tab-info {
        padding: 3em 0;
    }
    .test_img_info {
        float: right;
        width: 100%;
    }
    #quote-carousel .carousel-indicators {
        left: 12%;
        top: auto;
    }
    .text-center.test_img {
        margin-right: 0;
        margin-bottom: 1em;
    }
    .newsright input[type="email"] {
        width: 66%;
    }
    .callbacks_tabs {
        bottom: 55%;
        right: 0%;
    }
    .price-grid-main {
        margin-top: 6em;
    }
}

@media(max-width:767px) {
    .navbar-nav {
        float: none;
        margin: 0;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 10px 10px;
        margin-top: 9px;
        margin-right: 0px;
        margin-bottom: 0px;
        background-color: transparent;
        background-image: none;
        border: 1px solid rgba(74, 72, 72, 0);
        border-radius: 0px;
    }
    .navbar-default .navbar-toggle {
        border-color: #b1aaaa;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #0f9d58;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #fff;
    }
    ul.nav.navbar-nav {
        margin-top: 1em;
        text-align: center;
    }
    .navbar-nav>li>a {
        padding: 10px 18px;
        letter-spacing: 1px;
        font-size: 0.8em;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: #444040;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #b1b0b0;
        text-align: center;
    }
    .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #ff4c00;
        background-color: transparent;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: none !important;
    }
    .inner_sec_info_w3layouts {
        margin-top: 3em;
    }
    .contact-map iframe {
        width: 100%;
        height: 250px;
    }
    .banner_bottom_left h4 {
        font-size: 1.3em;
    }
    .news-main {
        margin-top: 2em;
        border-top: 1px solid #ddd;
        padding-top: 2em;
    }
    .newsright {
        margin-top: 1em;
    }
    .logo_wthree_agile {
        margin-top: .5em;
        float: left;
    }
    .nav_top_fx_w3layouts_agileits {
        margin: 0 auto;
        width: 95%;
        padding: 0.5em 0;
    }
    .carousel-caption {
        width: 65%;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 3px;
        border-radius: 0px;
    }
    .donate-log-in.book-form input[type="text"],
    .donate-log-in.book-form input[type="email"],
    .donate-log-in.book-form input[type="password"],
    .donate-log-in.book-form input[type="number"] {
        width: 99%;
        font-size: 0.9em;
        padding: .5em 1em;
    }
    .donate-log-in {
        padding: 1.5em 1em;
    }
}

@media(max-width:667px) {
    .prices-top {
        position: absolute;
        top: -75px;
        left: 51px;
    }
    .carousel-caption {
        min-height: 446px !important;
        padding-top: 9em;
    }
    .callbacks_tabs a:after {
        height: 12px;
        width: 12px;
    }
    .callbacks_tabs li {
        display: inline-block;
        margin: 0px 1px;
    }
    .banner_bottom_left h4 {
        font-size: 1.2em;
    }
    .carousel-control {
        line-height: 39em;
    }
    .bnr-button {
        margin-top: 1em;
    }
    .bnr-button a {
        padding: 0.6em 1.4em;
    }
    .carousel-indicators {
        bottom: 17%;
        left: 10%;
    }
    .footer {
        padding: 4em 0;
    }
}

@media(max-width:640px) {
    h3.tittle_w3_agileinfo {
        font-size: 2.2em;
    }
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 2.4em;
        letter-spacing: 1px;
    }
    .prices-top {
        position: absolute;
        top: -75px;
        left: 74px;
    }
    .callbacks_tabs {
        bottom: 60%;
        right: 0%;
    }
    .photo-grid.text-center p {
        font-size: 0.85em;
    }
    .p-mask h4 {
        font-size: 1em;
    }
    .prices-h {
        padding: 1em 0;
    }
    p {
        font-size: 0.9em;
    }
    .donate-log-in {
        padding: 1.5em 1.5em;
    }
    .donate-info {
        float: left;
        width: 79%;
        margin-top: 5em;
        padding: 0;
    }
    .donate-f-login {
        right: 9%;
        top: -42%;
        width: 46%;
    }
    .dodecagon.s1 {
        width: 5em;
        height: 8em;
    }
    .prices-top {
        position: absolute;
        top: -75px;
        left: 59px;
    }
}

@media(max-width:600px) {
    .callbacks_tabs {
        bottom: 64%;
        right: 0%;
    }
    .prices-top {
        position: absolute;
        top: -75px;
        left: 56px;
    }
    .carousel-caption {
        min-height: 430px !important;
        padding-top: 8em;
    }
    .modal-dialog {
        width: 100%;
    }
    .inner_sec_info_w3layouts {
        margin-top: 2em;
    }
    a.button {
        margin: 0em auto 0;
    }
}

@media(max-width:568px) {
    .carousel-caption {
        min-height: 430px !important;
        padding-top: 8em;
    }
    .carousel-control {
        line-height: 38em;
    }
    .prices-top h3 {
        font-size: 1.8em;
        line-height: 3.8em;
    }
    .test_img_info {
        float: right;
        width: 100%;
        padding: 0;
    }
    .newsletter {
        padding: 2.5em 1em;
    }
    h3.tittle_w3_agileinfo {
        font-size: 2em;
    }
    .price-sec,
    .works,
    .banner_bottom,
    .tesimonials,
    .footer,
    .tesimonials {
        padding: 3em 0;
    }
    .dodecagon.s1 {
        width: 5em;
        height: 7em;
    }
    .prices-top {
        position: absolute;
        top: -69px;
        left: 43px;
    }
    .prices-bottom h4 {
        font-size: 1.4em;
    }
    .dodecagon.t2,
    .dodecagon.t3,
    .dodecagon.t4,
    .dodecagon.t1 {
        width: 12em;
        height: 14em;
    }
    .dodecagon.l1,
    .dodecagon.l2 {
        width: 9em;
        height: 12em;
    }
}

@media(max-width:480px) {
    .price-info:nth-child(1),
    .price-info:nth-child(2),
    .price-info:nth-child(3) {
        float: left;
        width: 48%;
    }
    .prices-top {
        position: absolute;
        top: -63px;
        left: 63px;
    }
    .price-info:nth-child(3) {
        margin-top: 5em;
    }
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 2.2em;
        letter-spacing: 1px;
    }
    .callbacks_tabs {
        bottom: 73%;
        right: -1%;
    }
    .banner_bottom_left {
        text-align: center;
        margin-top: 2em;
        padding: 0;
    }
    .banner_bottom_left h4 {
        font-size: 1.1em;
    }
    .ser-first {
        margin-top: 1em;
    }
    .last-img-info {
        text-align: center;
        margin-top: 2em;
    }
    .price-grid-main {
        margin-top: 5em;
    }
    .prices-bottom h4 {
        font-size: 1.2em;
    }
    .banner-inner-page {
        min-height: 190px;
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        margin: 0 3px;
    }
    .carousel-indicators .active {
        width: 10px;
        height: 10px;
        margin: 0 3px;
    }
    .carousel-caption {
        min-height: 400px !important;
        padding-top: 8em;
        width: 93%;
    }
    .donate-log-in {
        padding: 1em 1em;
    }
    .donate-log-in.book-form input[type="text"],
    .donate-log-in.book-form input[type="email"],
    .donate-log-in.book-form input[type="password"],
    .donate-log-in.book-form input[type="number"] {
        width: 99%;
        font-size: 0.8em;
        padding: .4em 0.8em;
    }
    .book-form input[type=submit] {
        padding: .5em 1em;
    }
    .donate-info {
        float: left;
        width: 100%;
        margin-top: 4em;
        padding: 0;
    }
    .dodecagon.t2,
    .dodecagon.t3,
    .dodecagon.t4,
    .dodecagon.t1 {
        width: 9em;
        height: 11em;
    }
    .contact_grid_right h6,
    .contact-left h6 {
        font-size: 1em;
    }
}

@media(max-width:440px) {
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 1.6em;
        letter-spacing: 1px;
    }
    .carousel-caption p {
        letter-spacing: 2px;
        font-size: 1em;
        margin: 1em 0 1em 0;
    }
    h3.tittle_w3_agileinfo {
        font-size: 1.7em;
        letter-spacing: 1px;
    }
    .ser-first-grid {
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 1em;
        padding: 0 2em;
    }
    .photo-grid.text-center {
        float: left;
        width: 100%;
    }
    .photo-grid:nth-child(1),
    .photo-grid:nth-child(2),
    .photo-grid:nth-child(3),
    .photo-grid:nth-child(4) {
        margin-top: 1.5em;
    }
    #quote-carousel .carousel-indicators {
        left: 20%;
        top: auto;
    }
    .dodecagon.b1 {
        width: 4em;
        height: 5em;
    }
    .banner_bottom_grid_left_grid .fa-w-16 {
        font-size: 1.2em;
        color: #fff;
        margin-top: 30px;
    }
    .banner_bottom_grid_right {
        text-align: left;
        padding: 0;
    }
    .inner_sec_info_w3layouts {
        margin-top: 2.5em;
    }
    .photo-grid:nth-child(1) {
        margin: 0;
    }
    h3.tittle_w3_agileinfo {
        font-size: 1.8em;
    }
    .ser-first {
        margin-top: 0em;
    }
    .last-img-info-text {
        margin-top: 2em;
    }
    .carousel-control {
        line-height: 33em;
    }
}

@media(max-width:414px) {
    .prices-top {
        top: -63px;
        left: 41px;
    }
    #quote-carousel .carousel-indicators {
        left: 20%;
        top: auto;
    }
    .price-sec,
    .works,
    .banner_bottom,
    .tesimonials,
    .footer,
    .tesimonials {
        padding: 2.5em 0;
    }
    .callbacks_tabs {
        bottom: 78%;
        right: -1%;
    }
    .tooltip {
        left: 0 !important;
    }
    .bnr-button a {
        padding: .7em 1.5em;
        letter-spacing: 1px;
        font-size: 0.8em;
    }
    .carousel-caption {
        min-height: 338px !important;
        padding-top: 7em;
    }
    .photo-grid:nth-child(1) {
        margin: 0;
    }
    .carousel-indicators {
        bottom: 17%;
        left: 13%;
    }
    .carousel-control {
        line-height: 30em;
    }
    .callbacks_tabs {
        bottom: 70%;
        right: -1%;
    }
    .donate-f-login {
        right: 6%;
        top: -42%;
        width: 57%;
    }
    .check-box input[type="checkbox"]+label {
        position: relative;
        padding-left: 2em;
        font-size: 0.9em;
        letter-spacing: 1px;
    }
    .donate-log-in.book-form input[type="text"],
    .donate-log-in.book-form input[type="email"],
    .donate-log-in.book-form input[type="password"],
    .donate-log-in.book-form input[type="number"] {
        width: 99%;
        font-size: 0.8em;
        padding: .4em 0.8em;
        margin-bottom: 0.3em;
    }
    .donate-log-in.book-form input[type="text"],
    .donate-log-in.book-form input[type="email"],
    .donate-log-in.book-form input[type="password"],
    .donate-log-in.book-form input[type="number"] {
        width: 99%;
        font-size: 0.8em;
        padding: .4em 0.8em;
        margin-bottom: 0.3em;
    }
    .banner_bottom_left {
        text-align: center;
        margin-top: 1em;
        padding: 0;
    }
    .dodecagon.t2,
    .dodecagon.t3,
    .dodecagon.t4,
    .dodecagon.t1 {
        width: 12em;
        height: 14em;
    }
    .events-coming {
        padding: 2em 0em;
    }
    .dodecagon.l1,
    .dodecagon.l2 {
        width: 7em;
        height: 10em;
    }
}

@media(max-width:384px) {
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 1.6em;
        letter-spacing: 1px;
    }
    h3.tittle_w3_agileinfo {
        font-size: 1.6em;
        letter-spacing: 1px;
    }
    .ser-first-grid h3 {
        margin: 26px 0 10px 0;
        font-size: 1.1em;
    }
    .newsright {
        margin-top: 1em;
        padding: 0;
    }
    .nav_top_fx_w3layouts_agileits {
        padding: 1em 0;
    }
}

@media(max-width:375px) {
    .carousel-caption {
        min-height: 369px !important;
        padding-top: 9em;
    }
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 1.5em;
        letter-spacing: 1px;
    }
    .carousel-control {
        line-height: 25em;
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        margin: 0 2px;
    }
    .carousel-indicators .active {
        width: 10px;
        height: 10px;
        margin: 0 2px;
    }
    .carousel-caption p {
        letter-spacing: 2px;
        font-size: 1em;
        margin: 1em 0;
    }
    .prices-top {
        top: -63px;
        left: 33px;
    }
    .address-right h6 {
        font-size: 1em;
    }
    .donate-f-login {
        right: 11%;
        top: -42%;
        width: 48%;
        padding: 0;
    }
    .carousel-control {
        line-height: 32em;
    }
    .help_full {
        width: 90%;
    }
    .banner_bottom_left p {
        margin-bottom: 1em;
    }
    .callbacks_tabs {
        bottom: 73%;
        right: -1%;
    }
    h3.tittle_w3_agileinfo {
        font-size: 1.6em;
        letter-spacing: 1px;
        margin-bottom: 0em;
    }
    .banner_bottom_grid_left {
        padding-left: 0;
    }
    .portfolio-categ li {
        display: inline;
        margin-right: 0px;
    }
    .inner_sec_info_w3layouts {
        margin-top: 2em;
    }
    .dodecagon.b1 {
        width: 3em;
        height: 4em;
    }
    .banner_bottom_grid_left_grid .fa-w-16 {
        font-size: 1.2em;
        color: #fff;
        margin-top: 23px;
    }
}

@media(max-width:320px) {
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 1.5em;
        letter-spacing: 1px;
    }
    .bnr-button {
        margin-top: 0.5em;
    }
    .bnr-button a {
        padding: .5em 1.5em;
        letter-spacing: 1px;
        font-size: 0.8em;
    }
    .carousel-caption {
        min-height: 335px !important;
        padding-top: 8em;
    }
    .banner_bottom_left h4 {
        font-size: 1em;
    }
    .callbacks_tabs {
        bottom: 84%;
        right: -1%;
    }
    .banner_bottom_left p {
        margin-bottom: 1em;
    }
    .prices-top {
        position: absolute;
        top: -75px;
        left: 68px;
    }
    .newsleft h3 {
        font-size: 18px;
        margin-top: 15px;
        letter-spacing: 1px;
    }
    .newsright input[type="email"] {
        width: 62%;
    }
    .donate-inner h4 {
        font-size: 1.2em;
        letter-spacing: 1px;
    }
    .price-sec,
    .works,
    .banner_bottom,
    .tesimonials,
    .footer,
    .tesimonials {
        padding: 2.3em 0;
    }
    .inner_sec_info_w3layouts {
        margin-top: 1.5em;
    }
    .dodecagon.l1,
    .dodecagon.l2 {
        width: 5em;
        height: 9em;
    }
    .price-info:nth-child(1),
    .price-info:nth-child(2),
    .price-info:nth-child(3) {
        float: left;
        width: 100%;
    }
    .prices-top {
        position: absolute;
        top: -58px;
        left: 87px;
    }
    .price-info:nth-child(3) {
        margin-top: 0em;
    }
    .price-info:nth-child(2) {
        margin: 5em 0;
    }
    .donate-f-login {
        right: 0;
        top: 0;
        width: 100%;
        padding: 0;
        position: static;
        float: right;
    }
    .donate-info {
        float: left;
        width: 100%;
        margin-top: 2em;
        padding: 0;
    }
    .carousel-control {
        line-height: 30em;
    }
    .carousel-indicators {
        bottom: 15%;
        left: 15%;
    }
}

/*--//responsive--*/
